<div class="host-step">
 
 <div class="host-step-content ">
  
	<div class="host-step-header">
			<h3>Name your place</h3>
	</div>
	<div class="input">
		<input type="text"  name="title" ng-model="place.title" class=" step-select form-control " placeholder="Listing title">	
	</div>
	<div class="host-step-header">
			<h3>Enter a description</h3>
	</div>
	<div class="input">
		<textarea type="text"  name="title" ng-model="place.description" class=" step-select form-control " placeholder="Tell something about your place, Nearby to and good for ">	</textarea>
	</div>
 </div>
</div>
<div class="step-button">
	<div class="step-back pull-left">
		<a href="#" ng-click="back()"><-- Back</a>
	</div>
	<div class="step-next pull-right">
		<button class="btn btn-primary airbnb-color" ng-click="next()">Next</button>
	</div>
</div>	